<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD.Properties.Settings.MahasiswaConnectionString"
            connectionString="Data Source=LAPTOP-1IV3PNL7\BELINDAMERLANSYA;Initial Catalog=Mahasiswa;User ID=sa;Password=Belinda051101"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>